*,
*:before,
*:after {
  box-sizing: border-box;
}




.carousel {
  position: relative;
  width: 98.9%;
  height: 500px;
  margin: 0 auto;
}

.carousel_container {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.carousel_image {
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: black;
  -webkit-user-select: none;
}

.nav-left {
  left: 0px;
}

.nav-right {
  right: 0px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}
