body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

hr {
  border: none;
  background-color: #105040;
  height: 5px;
}

li {
  display: inline-block;
  background-color: #118f70;
}

li:hover {
  background-color: #105040;
}

.logo_holder {
  display: block;
  text-align: center;
}

.logo {
  width: 250px;
}

.nav_bar_top {
  margin: 0 auto;
  width: 500px;
}

.nav_bar_top ul{
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav_link {
  font-size: 18px;
  display: inline-block;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
