@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

a {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

hr {
  position: relative;
  bottom: 30px;
}

.logo {
  position: relative;
  width: 150px;
  height: 150px;
  top: 20px;
}

.nav_link {
  position: relative;
  left: 850px;
  margin-left: 80px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}

#indexCar {
  overflow-x: hidden;
}

#indexCar figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s indexCar infinite;
}

#indexCar figure img {
  width: 20%;
  float: left;
}

@keyframes indexCar {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* Test One */

.NavItem {
  background:
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  position: relative;
  left: 850px;
  margin-left: 40px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}

.NavItem:hover,
.NavItem:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

*/

/* Test Two

ul {
  list-style: none;
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 3rem);
}

.NavItem {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

NavItem:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

*/
