a {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}


hr {
  position: relative;
}

.logo {
  position: relative;
  top: 5.5vh;
}

.nav_link {
  position: relative;
  left: 60vw;
  margin-left: 5vw;
}

.carousel_image {
  width: 80vw;
  height: 70vh;
  position: relative;
}
